.container-fluid{
  background-image: url(../../assets/img/helpimg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.form-label{
    color: aliceblue;
}